body{/*esto si es para que no tenga margenes y ocupen toda la pantalla */
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(166, 163, 163);
}
a{
    text-decoration: none;
    cursor: pointer;
}
header{
    width: 100%;
    height: 60px;
}
header nav {
    display: flex;
    justify-content: flex-end;
}
header nav .nav-right-section{
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
nav .nav-right-section a{
    margin-right: 10px;
    color: #b042b4;
}
nav .nav-right-section a:hover{
    color: rgb(13, 152, 31);
    transition: all 0.5s
}
nav .nav-right-section .menu-icon{
    background-image: url("./assets/puntos.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 35px;
    height: 35px;
}
nav .nav-right-section img{
    border-radius: 50%;
    margin-left: 10px;
}
main{
    margin-top: 150px;
    text-align: center;
}
main .main-logo{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;

}
main .main-logo img{
    width: 420px;
}
main .main-input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}
main .main-input-container{
    width: 525px;
    border-radius: 10px;
    border: 1.5px solid #b042b4;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main-input input{
    width: 450px;
    height: 40px;
    border: none;
    outline: none;/*Nos sirve para quitar el borde generado cuando damos click a un input*/
    background: none;
}
main .main-input-container:hover{
    box-shadow: 0 1px 6px 0 rgb(21, 209, 46);
    border-color:rgb(19, 187, 41);
    transition: all 0.5s
}
main .main-input .search-icon{
    background-image: url("./assets/lupa.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 41px;
    height: 41px;
}
main .main-input .micro-icon{
    background-image: url("./assets/micro.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
}
main .main-buttons{
    width: 530px;
    margin: 0 auto;
}
main .main-buttons div{
    display: inline-block;
}
main .main-buttons button{
    height: 36px;
    background: none;
    border: 0;
    border-radius: 10px;
    color: #b042b4;
    cursor: pointer;
    font-size: 14px;
    padding: 0 15px;
    margin-right: 15px;
}
main .main-buttons button:hover{
    background: rgb(120, 120, 120);
    color: rgb(21, 209, 46);
    transition: all 0.5s;
}
footer{
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 13px;
    background-color: rgb(150, 148, 148);
    border-top: 1px solid rgb(121, 121, 121);
}
footer ul {
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}
footer .footer-left{
    justify-self: left;
}
footer .footer-right{
    justify-self: right;
}
footer ul li a{
    margin: 10px;
    color: #972a9a;
}
footer ul li a:hover{
    color: rgb(28, 127, 41);
    transition: all 0.5s;
}